# Data Preprocessing

In [1]:
import pandas as pd
import os

In [4]:
# load data
url1 = "../../data/processed/den/1_sph.xlsx"
url2 = "../../data/processed/den/2_sph.xlsx"
url3 = "../../data/processed/den/3_sph.xlsx"
url4 = "../../data/processed/den/4_sph.xlsx"
url5 = "../../data/processed/den/5_sph.xlsx"

names = ['lam_max1', 'csc_max1', 'lam_min', 'csc_min','lam_fwhm1','c_mid','lam_max2','csc_max2','lam_fwhm2','fwhm','posisi1','posisi2', 'posisi3','posisi4','posisi5','arah_k','arah_E','sb_putar','sudut1','sudut2','ket'] 
d1 = pd.read_excel(url1, names=names, header=None)
d2 = pd.read_excel(url2, names=names, header=None)
d3 = pd.read_excel(url3, names=names, header=None)
d4 = pd.read_excel(url4, names=names, header=None)
d5 = pd.read_excel(url5, names=names, header=None)

In [5]:
d1.head()

,lam_max1,csc_max1,lam_min,csc_min,lam_fwhm1,c_mid,lam_max2,csc_max2,lam_fwhm2,fwhm,...,posisi2,posisi3,posisi4,posisi5,arah_k,arah_E,sb_putar,sudut1,sudut2,ket
0,408,1.601443e-14,430,1.309453e-14,452.547971,2.136383e-14,462,2.963313e-14,471.424766,18.876794,...,0,0,0,0,3,2,1,0,0,0
1,408,1.601331e-14,430,1.309381e-14,452.547915,2.136334e-14,462,2.963287e-14,471.424929,18.877014,...,0,0,0,0,3,2,1,1,5,0
2,408,1.601075e-14,430,1.309218e-14,452.547788,2.136220e-14,462,2.963222e-14,471.425311,18.877523,...,0,0,0,0,3,2,1,3,0,0
3,408,1.600855e-14,430,1.309076e-14,452.547708,2.136121e-14,462,2.963166e-14,471.425636,18.877928,...,0,0,0,0,3,2,1,4,5,0
4,408,1.600793e-14,430,1.309029e-14,452.547746,2.136089e-14,462,2.963148e-14,471.425723,18.877976,...,0,0,0,0,3,2,1,6,0,0

Preprocessing data

In [11]:
mean_val = d2.loc[d2['lam_max1']!=d2['lam_max2'], 'lam_max1'].mean()

d2.loc[d2['lam_max1']==d2['lam_max2'], 'lam_max1'] = mean_val

C:\Users\dnrd9\AppData\Local\Temp\ipykernel_19204\3535227860.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '400.1518578352181' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  d2.loc[d2['lam_max1']==d2['lam_max2'], 'lam_max1'] = mean_val

In [13]:
mean_val = d3.loc[d3['lam_max1']!=d3['lam_max2'], 'lam_max1'].mean()

d3.loc[d3['lam_max1']==d3['lam_max2'], 'lam_max1'] = mean_val

C:\Users\dnrd9\AppData\Local\Temp\ipykernel_19204\3886919082.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '395.10217755443887' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  d3.loc[d3['lam_max1']==d3['lam_max2'], 'lam_max1'] = mean_val

In [14]:
mean_val = d4.loc[d4['lam_max1'] != d4['lam_max2'], 'lam_max1'].mean()

d4.loc[d4['lam_max1'] == d4['lam_max2'], 'lam_max1'] = mean_val

C:\Users\dnrd9\AppData\Local\Temp\ipykernel_19204\757535337.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '394.03300330033005' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  d4.loc[d4['lam_max1'] == d4['lam_max2'], 'lam_max1'] = mean_val

In [15]:
mean_val = d5.loc[d5['lam_max1'] != d5['lam_max2'], 'lam_max1'].mean()

d5.loc[d5['lam_max1'] == d5['lam_max2'], 'lam_max1'] = mean_val

In [16]:
tanpabola3 = pd.concat([d1, d2, d4, d5], ignore_index=True)
bola12345 = pd.concat([d1, d2, d3, d4, d5], ignore_index=True)

# Export Dataframe into Excel File

In [18]:
directory = "../../data/processed/den"
filename = "bola12345-1.xlsx"

full_path = os.path.join(directory, filename)

bola12345.to_excel(full_path, index=False, header=False)

In [22]:
directory = "../../data/processed/den"
filename = "5_sph.xlsx"

full_path = os.path.join(directory, filename)

d5.to_excel(full_path, index=False, header=False)